<div>
    <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 py-10 items-center">
        <div data-aos="fade-left" data-aos-duration="800" class="lg:text-start md:text-start text-center">
            <h1 class="text-3xl md:text-4xl lg:text-5xl   lg:leading-15 font-medium">Are you tired of dealing with cumbersome prescription writing processes?</h1>
            <p class="my-5">Prescriber is here to help! Our intuitive and powerful SaaS application streamlines prescription management, making it easier for healthcare professionals to create, manage, and track prescriptions.</p>
        </div>
        <div data-aos="fade-up" data-aos-duration="800">
            <img src="/media/image/tired.png" alt="">
        </div>

    </div>
</div>