<div class="min-h-[80vh] backdrop-blur-lg  grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 items-center gap-5">
    <div data-aos="slide-left" data-aos-duration="800" class="w-full  flex flex-col justify-center lg:text-start md:text-start text-center">
        <h1 class="lg:leading-15 tracking-widest text-3xl md:text-4xl lg:text-5xl font-medium">Simplest and
            Fastest <span class="text-indigo-600 font-bold lg:text-7xl md:text-5xl  ">Prescription
                Management</span> Application</h1>
        <p class="tracking-[3px] lg:text-xl font-medium py-5">Secured, Automated, Configurable, Personalized
            with minimum writing efforts for doctors</p>
        <a href="{% url 'demo_prescription' %}" class="text-lg btn_outline ">See Demo</a>
    </div>
    <div data-aos="slide-right" data-aos-duration="800" class="w-full ">
        <img class="backdrop-blur-[400px]" src="/media/image/home.png" alt="">

    </div>
</div>