<div class="my-5 text-white rounded-xl bg-gradient-to-r from-indigo-500  to-purple-500">
    <div class="overflow-hidden  flex justify-evenly items-center">
        <div class="lg:text-start md:text-start text-center p-3 lg:w-1/2 md:w-2/3 w-full font-medium">
            <h1 class="text-3xl">Book Appointment </h1>
            <h1 class="text-3xl">With 100+ Trusted Doctors</h1>
            <a class="hover:text-indigo-500 text-sm bg-white px-4 p-2 rounded-full text-indigo-600 mt-5 inline-block" href="{% url 'user_register' %}">Create Account</a>
        </div>
        <div class="w-1/3 lg:block md:block hidden">
            <img class="translate-y-1" src="/media/image/book_banner_model.png" alt="">
        </div>
    </div>
</div>