<section class="py-10">

    <div>
        <div class="text-center lg:w-1/2 md:w-2/3 w-full mx-auto">
            <h1 class="text-black text-4xl font-medium my-3"><i class="text-indigo-500 fi fi-tr-file-prescription"></i>Features</h1>
            <p>Some of the features collectively which makes <span class="text-indigo-500 font-bold">Prescriber</span> a
                <span class="font-bold">comprehensive</span> and <span class="font-bold">efficient
                    solution</span> for prescription management, helping healthcare professionals improves patient
                <span class="font-bold">
                    care, reduces
                    errors, 
                </span> and <span class="font-bold">streamline</span> practices.</p>
        </div>
        <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-1">


        </div>
    </div>
</section>