<section id="features" class="py-20 ">
      <div class="max-w-6xl mx-auto">
        <h2 class="text-3xl font-bold text-center mb-12">HOW IT <span class="text-indigo-500">WORKS</span></h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-3 lg:gap-8">

          <!-- Doctor Dashboard -->
          <div data-aos="fade-up" class="bg-white rounded-xl p-6 shadow hover:shadow-lg transition">
            <h3 class="text-xl font-semibold text-[var(--primary)] mb-2">Doctor Dashboard</h3>
            <ul class="list-disc ml-5 text-sm text-gray-700">
              <li>Create & manage <span class="font-medium">sessions</span></li>
              <li>Add <span class="font-medium">patients</span>  in real-time</li>
              <li>Generate & print <span class="font-medium">prescriptions</span></li>
              <li>Edit past <span class="font-medium">treatments</span></li>
            </ul>
          </div>

          <!-- Appointment System -->
          <div data-aos="fade-down" class="bg-white rounded-xl p-6 shadow hover:shadow-lg transition">
            <h3 class="text-xl font-semibold text-[var(--primary)] mb-2">Appointment System</h3>
            <ul class="list-disc ml-5 text-sm text-gray-700">
              <li><span class="font-medium">Search</span> doctors by name or specialty</li>
              <li>View available <span class="font-medium">session</span> times</li>
              <li><span class="font-medium">Book</span> appointments instantly</li>
              <li>Receive <span class="font-medium">confirmation & reminders</span></li>
            </ul>
          </div>

          <!-- Patient & Family Management -->
          <div data-aos="fade-up" class="bg-white rounded-xl p-6 shadow hover:shadow-lg transition">
            <h3 class="text-xl font-semibold text-[var(--primary)] mb-2">User Portal</h3>
            <ul class="list-disc ml-5 text-sm text-gray-700">
              <li>Add and manage <span class="font-medium">family members</span></li>
              <li>Book <span class="font-medium">appointments</span> for them</li>
              <li><span class="font-medium">Download & store</span> prescriptions</li>
              <li>Leave doctor <span class="font-medium">reviews</span></li>
            </ul>
          </div>

        </div>
      </div>
    </section>