<div class="lg:min-h-screen flex items-center">
    <div>
        <div class='grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 gap-10 items-center'>
            <div data-aos="fade-in" class="">
                <img class="mx-auto" src="/media/image/doctor.png" alt="">
            </div>
            <div>
                <h1 class="text-indigo-500 text-2xl font-medium border-b border-gray-200 pb-4">Why Choose Prescriber?
                </h1>
                <div class="py-3">
                    <div class="flex flex-col gap-4">
                        <h1 data-aos="fade-up">
                            <span class="font-medium">
                                <i class="text-indigo-500 fa-solid fa-circle-check"></i>
                                Efficiency
                            </span>: Say goodbye to handwritten prescriptions and tedious paperwork. MyRx
                            Prescription
                            Writer simplifies the prescription process, allowing you to generate accurate, legible
                            prescriptions with just a few clicks.
                        </h1>
                        <h1 data-aos="fade-up">
                            <span class="font-medium">
                                <i class="text-indigo-500 fa-solid fa-circle-check"></i>
                                Compliance
                            </span>: Our software is fully compliant with industry standards and regulations. Ensure
                            patient safety and meet legal requirements effortlessly.
                        </h1>
                        <h1 data-aos="fade-up">
                        <span class="font-medium">
                                <i class="text-indigo-500 fa-solid fa-circle-check"></i>
                            Time-Saving
                        </span>: Cut down on administrative tasks. MyRx Prescription Writer enables you to save
                            time so you can focus on patient care.</h1>

                        <h1 data-aos="fade-up">
                        <span class="font-medium">
                                <i class="text-indigo-500 fa-solid fa-circle-check"></i>
                            Customization
                        </span> : Tailor prescriptions to your practice's unique needs. Create templates and
                            save
                            common prescriptions for easy access.</h1>
                        <h1 data-aos="fade-up">
                            <span class="font-medium">
                                <i class="text-indigo-500 fa-solid fa-circle-check"></i>
                                Security
                            </span> : We prioritize data security. Your patient information is safe with us.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>