.input {
    width: 100%;
    outline: none;
    border: 1px solid #d8d5d5;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    margin: 4px 0;
}
 input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      border-radius: 5px;
      cursor: pointer;
      background: #615fff ;
    }
.btn{
    padding: 5px 10px;
    color: white;
    background-color: #615fff;
    font-weight: 500; 
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    background-color: #4946f7;
}
.btn_outline{
    padding: 5px 10px;
    border: 1px solid #615fff;
    font-weight: 500; 
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.btn_outline:hover{
    color: white;
    background-color: #5755fc;
}
#patients_suggestion_box{
    /* border: 1px solid #d1d5dc ; */
    /* border-top: none; */
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    z-index: 10;
    border-radius: 0 0 10px 10px;
    padding: 8px;
}

#action_drop_down{
    display: none;
    font-weight: bold;
}
.my_dropdown_box:hover #action_drop_down{
    display: block;
    text-align: right;
}
.a4 {
    width: 210mm;
    height: 297mm;
    margin: auto;
    background: white;
    color: #000;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    box-sizing: border-box;
    position: relative;
    page-break-after: avoid; 
    page-break-before: avoid;
    /* overflow: hidden; */

}
@page{
    size: A4;
    margin: 0;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 4s infinite;
}

@keyframes fade {
    0%{
        opacity: 0;
        scale: 99%;
    }
    100%{
        opacity: 1;
        scale: 100%;
    }
}
.fade{
    animation: fade .5s forwards;
}

.star{
    padding: 3px;
}
.gold{
    color: goldenrod !important;
    transition: all .3s ease-in-out;
}
#demo_prescription_wrapper{
    cursor: pointer !important;
    color: #000 !important;
    background-color: white !important;
}
#doctor_info_form label{
    font-weight: 500;
    padding-top: 8px;
    font-size: 14px;
}
.content_editable{
    min-width: 10px;
    min-height: 5px;
    margin: 2px 0;
    padding: 0 2px;
    border-bottom: 1px solid transparent;
    cursor:text;
    position: relative;
}
.content_editable:focus{
    border-bottom: 1px solid #ccc;
    outline: none;
}
.content_editable:empty::before{
    content: "Type";
    color: #ccc;
}
.click_to_edit:hover::after{
    content: 'click to edit';
    position: absolute;
    font-size: 14px;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    color: #8a8a8a;
    font-weight: bold;
    min-width: 100px;
    width: 100%;
    text-align: center;
    background: #fff;
    z-index: 2;
    transition: hover .4s;
}
@media print{
    .hide_on_print{
        display: none;
    }
    
}