<main id="view_details_modal_{{pa.id}}"
    class="hidden top-0 left-0 fixed inset-0 w-full h-full flex justify-center items-center bg-[#00000082] z-100 p-5">
    <div class="w-full md:w-2/3 lg:w-1/2 bg-white  relative rounded-lg p-5 ">
        <button onclick="document.getElementById('view_details_modal_{{pa.id}}').classList.toggle('hidden')"
            class="absolute text-2xl -top-2 -right-1 text-red-500">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
        <!-- modal body -->
        <div>
            <header class="text-center">
                {% if pa.session.doctor.user.photo %}
                <img class="w-30 h-30 object-cover rounded-full mx-auto border border-indigo-500"
                    src="{{pa.session.doctor.user.photo.url}}" alt="">
                {% endif %}
                <h1 class="text-sm">{{pa.session.doctor.user.username}}</h1>
                <h1 class="text-sm font-medium">{{pa.session.doctor.full_name}}</h1>
                <h1 class="text-xs">{{pa.session.doctor.specialty}} | {{pa.session.doctor.qualification}}</h1>
                <h1 class="text-xs">⭐ {{pa.session.doctor.total_rating}} | {{pa.session.doctor.total_review}} reviews
                </h1>
            </header>
            <main class="py-5 text-sm">

                <div class="flex justify-between flex-wrap">
                    <!-- patient details -->
                    <div class="font-medium">
                        <h1 class="text-xs">Appointment Taker: {{pa.patient.creator}} </h1>
                        <h1>Patient Name: {{pa.patient.name}} ({{pa.patient.gender}})</h1>
                        <h1>Date of birth: {{pa.patient.dob}} </h1>
                        <h1>Phone Number: {{pa.patient.mobile}} </h1>
                        <h1>Address: {{pa.patient.address}} </h1>

                    </div>
                    <!-- appointment details -->
                    <div>
                        <h1 class="text-base font-medium">Serial No: {{pa.serial_no}}</h1>

                        <h1 class="">Appointment Status: <span class="font-bold text-indigo-500">{{pa.status}}</span>
                        </h1>
                        <h1>Date of appointment: <span class="font-medium">{{pa.session.appointment_date}}</span></h1>
                        <h1>Time : <span class="font-medium">
                                {{pa.session.start_time}}-{{pa.session.end_time}}
                            </span></h1>
                        <h1>Hospital Name: <span class="font-medium">{{pa.session.doctor.hospital_name}}</span></h1>
                        <h1>Address: <span class="font-medium">{{pa.session.doctor.chamber_address}}</span></h1>
                    </div>
                </div>
                {% if pa.reason %}
                <div>
                    <h1 class="font-bold">Reason for taking appointment: </h1>
                    <div class="font-medium">
                        {{pa.reason|safe}}
                    </div>
                </div>
                {% endif %}
                <footer class="mt-5 flex gap-3 lg:flex-row md:flex-row sm:flex-col">
                    <a href="{% url 'appointment' 'patient_list' pa.session.id %}" class="w-full btn">Status</a>
                    {% if pa.status == "Seen" %}
                    <a target="_blank" href="{% url 'get_prescription' pa.id %}" class="w-full btn_outline">Show Prescription</a>
                    {% else %}
                    <button class="w-full btn_outline">Cancel
                        Appointment</button>
                    {% endif %}
                </footer>
            </main>
        </div>

    </div>
</main>