<main>
    <section class="lg:p-4 my-4">


        <div class=" py-4">
            <h1 class="text-lg text-gray-700 font-medium">Running Appointmets</h1>

        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Visit No
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Patient
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Gender
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Serial
                        </th>
                        <th scope="col" class="px-6 py-3 text-end">
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for p in running_patients %}

                      <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 ">
                        <td class="px-6 py-4">
                            #{{p.id}}
                        </td>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{p.patient.name}}
                        </th>
                        <td class="px-6 py-4">
                            {{p.patient.gender}}
                        </td>
                        <td class="px-6 py-4">
                            {{p.serial_no}}
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="{% url 'patient_profile_doctor_view' p.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Call</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

    </section>
</main>