<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescriber</title>

    <!-- Load CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    
    <!-- <link rel="stylesheet" href='{% static "/css/style.css" %}'> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Load JS -->
    <script src="https://kit.fontawesome.com/b3dbf49411.js" crossorigin="anonymous"></script>

</head>

<body class="scroll-smoth relative max-w-[1300px] mx-auto text-gray-700">
    {% include 'header.html' %}
    {% if messages %}
    {% include 'modal.html' %}
    {% endif %}

    <main class="fade min-h-[80vh]">
        {% block body %}

        {% endblock body %}
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
    {% include 'modal/logout_confirmation.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    {% block script %}

    {% endblock script %}


    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>